@page "/index222"

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.js"></script>

    @{
        string SourcePath = "";
        if (ViewBag.Request == null)
        {
            SourcePath = "index";
        }
        else
        {
            string[] pathvalues = ViewBag.Request.Path.Value.Split("/");

            if (pathvalues.Length == 0)
            {
                SourcePath = "index";
            }
            else
            {
                SourcePath = pathvalues[1] == "" ? "index" : pathvalues[1];
            }

            {
                Console.WriteLine(SourcePath);
            }
        }

        switch (SourcePath.ToLower())
        {
            case "index":
                <div id="source_dom_element"></div>
                if (ViewBag.PageData != null)
                {
                    <script>var PageData=@ViewBag.PageData;</script>
                }
                <script src="@Url.Content("/js/Classes/Data.js")" type="text/javascript"></script>
                <script src="@Url.Content("/js/Composite/Frontpage/Frontpage.jsx")" type="module"></script>
                break;

            case "login":
                <div id="source_dom_element"></div>
                @if (ViewBag.PageData != null)
                {
                    <script>var PageData=@ViewBag.PageData;</script>
                }
                <script src="@Url.Content("/js/Classes/Data.js")" type="text/javascript"></script>
                <script src="@Url.Content("/js/Composite/Loginpage/Loginpage.jsx")" type="module"></script>
                break;

            case "dashboard":
                if (ViewBag.PageDataMap != null && ViewBag.PageDataMap.ContainsKey("login_status") && ViewBag.PageDataMap["login_status"] == true)
                {
                    <div id="source_dom_element"></div>
                    @if (ViewBag.PageData != null)
                    {
                        <script>var PageData=@ViewBag.PageData;</script>
                    }
                    <script src="@Url.Content("/js/Classes/Data.js")" type="text/javascript"></script>
                    <script src="@Url.Content("/js/Composite/Dashboardpage/Dashboardpage.jsx")" type="module"></script>
                }
                else
                {
                    <div id="source_dom_element"></div>
                    if (ViewBag.PageData != null)
                    {
                        <script>var PageData=@ViewBag.PageData;</script>
                    }
                    <script src="@Url.Content("/js/Classes/Data.js")" type="text/javascript"></script>
                    <script src="@Url.Content("/js/Composite/Frontpage/Frontpage.jsx")" type="module"></script>
                }
                break;
        }

    }

